<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qd.server.mapper.QdTokenMapper">

	<resultMap type="com.qd.server.model.po.QdToken"
		id="QdTokenMap">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATE_TIME" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType="VARCHAR" />
		<result property="expireTime" column="EXPIRE_TIME" jdbcType="VARCHAR" />
		<result property="val" column="VAL" jdbcType="VARCHAR" />
	</resultMap>

	<!--SQL片段 -->
	<sql id="sql_select_qd_token">
		select ID,CREATE_TIME,UPDATE_TIME,EXPIRE_TIME,VAL
		FROM
		QD_TOKEN
	</sql>

	<!--通过ID查询数据 -->
	<select id="get" resultMap="QdTokenMap">
		<include refid="sql_select_qd_token"></include>
		and ID = #{token}
	</select>

	<!--新增 -->
	<insert id="insert">
		insert into
		QD_TOKEN(ID,CREATE_TIME,UPDATE_TIME,EXPIRE_TIME,VAL)
		values
		(#{id},#{createTime}, #{updateTime}, #{expireTime}, #{val})
	</insert>

	<!--修改 -->
	<update id="update">
		update QD_TOKEN set
		UPDATE_TIME=#{updateTime},EXPIRE_TIME=#{expireTime},VAL=#{val} WHERE
		ID=#{id}
	</update>

	<!--删除 -->
	<delete id="delete">
		DELETE FROM QD_TOKEN WHERE ID=#{token}
	</delete>

</mapper>