<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qd.server.mapper.QdUserMapper">

	<resultMap type="com.qd.server.model.po.QdUser"
		id="QdUserMap">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="code" column="CODE" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="password" column="PASSWORD"
			jdbcType="VARCHAR" />
		<result property="idnum" column="IDNUM" jdbcType="VARCHAR" />
		<result property="email" column="EMAIL" jdbcType="VARCHAR" />
		<result property="isLock" column="IS_LOCK" jdbcType="INTEGER"/>
		<result property="enabled" column="ENABLED" jdbcType="INTEGER"/>
		<result property="errorNum" column="ERROR_NUM" jdbcType="INTEGER"/>
	</resultMap>

	<!--SQL片段 -->
	<sql id="sql_select_qd_user">
		select ID,CODE,NAME,PASSWORD,IDNUM,EMAIL,IS_LOCK,ENABLED,ERROR_NUM
		FROM
		QD_USER
	</sql>

	<!--通过ID查询数据 -->
	<select id="get" resultMap="QdUserMap">
		<include refid="sql_select_qd_user"></include>
		where CODE = #{code}
	</select>


	<!--修改 -->
	<update id="update">
		update QD_USER set
		ERROR_NUM=#{errorNum},IS_LOCK=#{isLock} WHERE
		ID=#{id}
	</update>

</mapper>